$main-color: #393f4f;
$bg-color: #f8f9fa;
$header2-color: #2b303e;
$header-color: #4e5c7e;
$blue1: #59a9c7;
$grey:#5a6378;
$height1: 430px;
$height2: 460px;
$borderWidth: 5px;
$animationTime: 1.5s;
$border-color-default: #eaf2f9;
$border-color-fill: #ffb43e;
$size: 90px;
$howManySteps: 100;

