@import "~src/sass/mixins";
@import "~src/sass/variables";

a{
  text-decoration: none;
  .row{
    border-left: 3px solid transparent;
  }

  img{
    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
  }
  p{
    padding-top: 13px;
    @include mainfont(600, 15px, $grey);
  }
  &:hover{
    @include sidebar;
  }
}
.active{
  @include sidebar;
}
