<div class="row main1">
  <div class="col block circle">
    <div class="progress" data-percentage="68">
                <span class="progress-left">
                  <span class="progress-bar bar1"></span>
                </span>
      <span class="progress-right">
                  <span class="progress-bar bar1"></span>
                </span>
      <div class="progress-value">
        <div>
          68%
        </div>
      </div>
    </div>
    <app-text [obj]="text[0]"></app-text>
  </div>
  <div class="col block circle">
    <div class="progress" data-percentage="39">
                <span class="progress-left">
                  <span class="progress-bar bar2"></span>
                </span>
      <span class="progress-right">
                  <span class="progress-bar bar2"></span>
                </span>
      <div class="progress-value">
        <div>
          39%
        </div>
      </div>
    </div>
    <app-text [obj]="text[1]"></app-text>
  </div>
  <div class="col block">
    <img src="assets/photo/main1.png">
    <app-text class="third" [obj]="text[2]" ></app-text>
  </div>
</div>
